# Environment variables for local development
# Copy to .envrc and fill in your values
export ALLOWED_ORIGINS=
export CLERK_SECRET_KEY=
export CLERK_AUTHORIZED_PARTY=http://localhost:3000
export DATABASE_URL=
export GCP_BUCKET=
export GCP_PUBSUB_PROJECT=
export GOOGLE_API_KEY=
export GOOGLE_APPLICATION_CREDENTIALS=
export LOG_LEVEL="DEBUG"
export LOGFIRE_TOKEN=
export PREFECT_API_URL=
export PUBSUB_EMULATOR_HOST=
export PYTHONPATH="$(pwd):$PYTHONPATH"
